Port 22
Protocol 2
PermitRootLogin no
PasswordAuthentication yes
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd yes
PermitUserEnvironment yes
Subsystem sftp /usr/lib/openssh/sftp-server
PidFile /var/run/sshd.pid
